.App {
  font-family: "General Sans Variable";
  padding: 20px;
}

.TabContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 20px;
}

.LeftTabs {
  display: flex;
  gap: 10px;
}

.RightTab {
  margin-left: auto;
}

.Tab {
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
  font-weight: 400;

}

.Tab.active {
  background-color: #E0E0E0;
  ;
}

.TabContent {
  display: block;
  padding: 20px;
  
}

.TabContent.active {
  display: block;
}


.availability-icon{
  display: flex;
  gap: 4px;
}